.bat{
    text-transform: uppercase;
    margin-left: 10px;
   
    
}

H1{
    text-transform: uppercase;
    text-align: center;
}
.cricket{
    justify-content: center;
   align-items: center;

   width: 100%;
      display: flex;
}